body {
	min-height: 100%;
}

.menu{
	color: white;
}


.gris-claire{
	background-color: #f5f5f5;
}

.font-black{
	color: black;
}

/* stroke */
.categories a{
  position: relative;
}
.categories a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: linear-gradient(90deg,#ffdda5,#c28d46);
  

  
  height: 1px;
  transition: all .5S;
}
.categories a:hover:after {
  width: 100%;
}

a:hover{
	color: white;
}



* {
	padding: 0;
	margin: 0;
	font-family: Nunito;
}

p {
	margin : 0px;
}

.row{
	margin :0;
}

html, body {
	margin:0px;
	height:100%;
  }

.header {
	height: 70px;
	background-color: #333333;
	text-align: center;
	text-transform: uppercase;
	color: white;
	display: flex;
	justify-content: center;
	align-items: end;
	font-size: 30px;
}

.footer {
	height: 50px;
	background-color: #858786;
}

.home{
	display: flex;
	min-height: 100%;
	/* height: -webkit-fill-available; */
}

.divider{
	background-color: #EEEEEE;
	height: 2px;
}

#item > thead{
	background-color: #EEEEEE;
}

.description{
	max-width: fit-content;
	min-width: -webkit-fill-available;
}

.imageItemCheckout{
	width: 70px;
}

.editcart > *{
	border-radius: 0;
}



#delete:hover ,#delete{
	color: gray;
}

td > a, td>a:hover{
	color: gray;
}

.grey-link{
	color: gray;
}

.grey-link:hover{
	color: black;
}

.grey-border{
	border: 1px solid #EEEEEE;
}


.content{
	margin: 40px;
}

.content > * {
	padding: 2px;
	margin-top: 10px;
	margin-bottom: 30px;
}

a{
	color:inherit;
}

a:link {
	text-decoration: none;
}
  
a:visited {
	text-decoration: none;
}

/** Products **/

.product img{
	width: 300px;
	height: 300px;
	/* padding: 10px; */
	/* box-shadow: 7px 5px 5px grey; */
}


/** Bar **/

.bar{
	background-color: #EEEEEE;
	width: 20%;
	min-height: 100%;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.bar ul{
	margin-top: 10px;
    margin-left: 40px;
}

.bar .divider{
	height: 1px;
	background-color: black;
	margin: 10px 0px 10px 0px;
}

/** Account **/
.content form{
	display: flex;
	flex-direction: column;
	/* align-items: self-start; */
	width:min-content;
}

.content .createAccountLink{
	color: #4E8ACC;
}
.content .createAccountLink:hover{
	color: #3B6A9E;
	text-decoration: underline;
}
.content .createAccountLink:active{
	color: black;
}

.errMsg {
	font-weight: bold;
	color: #FD3535;
}

.successMsg {
	font-weight: bold;
	color: #91CF60;
}

/** Product **/

#product{
	display: flex;
}

#product img{
	height: 600px;
	width: 600px;
	padding: 15px;
	/* box-shadow: 7px 5px 5px grey; */
}

#product div{
	margin-left: 20px;
	margin-top: 30px;
}

#product div > *{
	margin-left: 5px;
	margin-top: 5px;
}

/** Cart **/



#item img{
	height: 100px;
	width: 100px;
	padding: 10px;
	/* box-shadow: 7px 5px 5px grey; */
}

#item td, #item th{
	padding-right: 30px;
	padding-left: 30px;
}


.article-checkout{
	margin-right: -1px;
	margin-top: -1px;
	margin-bottom: -1px;
	
}

.article-checkout >div{
	/* padding-right: 52px; */
	margin-right: 150px;
}

/** Payment & Shipping*/

.checkout{
	background-color: #fafcfe;
}

.timer{
	background-color: #fff5d2;
	padding: 3px;
	border: 1.5px solid #e4daa8;
	border-radius: 3px;
}


.address > .form {
	background-color: white;
	/* box-shadow: 5px 5px 5px #eef0f2; */
	/* border-radius: 3px; */
	padding: 7px;
	margin: 0px;
}

.form > .row {
	margin-top: 7px;
	margin-bottom: 7px;
}





.delivery > div{
	background-color: #fbfcfe;
	box-shadow: 5px 5px 20px #eef0f2;
	border-radius: 15px;
}



.delivery > div > div > label{
	display: flex;
	justify-content: space-between;
	flex: 1;
	margin-left: 5px;
}


.imgPayment{
	width: 100px;
}


/* Footer */
.footer {
	height: 70px;
	background-color: #333333;
	width: 100%;
	text-transform: uppercase;
	color: white;
	align-items: center;
	position: relative;
	bottom: 0;
	font-size: 30px;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

/* Admin */
.card {
	margin: 20px auto;
	float: none;
}